.navbar-default {
	overflow-x: hidden;
	margin-bottom: 0px;
	border-bottom: 2px solid $cafecito;  //borde abajo de la seccion
	background-color: $cafecito;

	.navbar-nav{
    	padding-left: 35%;  //para que quede los elementos de la lista centrados, no me funcionó nada de bootstrap
    	li{
    		a{
    			color: $white;
    		}
    		a:hover{
    			color: $cafeclaro;
    		}
    	}
    }
}

.items-spa{
	background-color: $bgcfclarito;
	padding-bottom: 50px;
	padding-left: 50px;
	padding-right: 50px;

	img{
		border: 8px solid $bordeitems;
		margin-top: -65px;
	}

	h4{
		font-weight: bold;
		margin-top: 40px;
		margin-bottom: 25px;
	}

	a{
		text-decoration: none;
		font-size: 12px;
		color: $cafecito;
		background-color: $bordeitems;
		padding: 2px;
	}
}

.welcoming {
	background-color: $bgwelc;
	padding-top: 60px;
	padding-bottom: 60px;
	border-top-style: double;
	border-width: 3px;
	border-color: gray;

	h3{
		color: $ladrillo;
		margin-top: 0px;
	}

	li {
		list-style: none;
		padding-right: 5px;
	}

	li img{
		width: 20px;
		height: 20px;
		background-color: darkred; //doesnt work
		margin-right: 10px;
	}
}

.half-half{
	background-color: $bgabout;
	padding-top: 60px;
	padding-bottom: 60px;
	color: $cafeclaro;
	border-top-style: solid;

	.hrleft{
		width: 50%;
		margin-right: 0px;

	}
	.hrright{
		width: 50%;
		margin-left: 0px;	
	}

}


footer{
	background-color: $bgfooter;
	color: $cafeclaro;
	padding-top: 60px;
	padding-bottom: 60px;
	border-top: 2px solid white;

	img{
		background-color: $bgsocials;
		border: 5px solid $brdsocials;
		margin: 4px;
	}
	
	.hrpie{
		margin-top: 40px;
		width: 80%;
	}

	h4{
		margin-bottom: 30px;
		margin-top: 10px;
	}
	h5{
		font-weight: bolder;
		font-size: 16px;
	}
	a{
		color: $ladrillo;
	}
	.disc{
		font-size: 12px;
	}

}